<h1>Watchlist</h1>

<p>This is your watchlist.</p>

<p *ngIf="!titleList"><em>Loading...</em></p>

<p>
    <a [routerLink]="['/register-title']">Create New</a>
</p>

<table class='table' *ngIf="titleList">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Director</th>
            <th>Status</th>
            <th>Score</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let elem of titleList">
            <td>{{ elem.id }}</td>
            <td><a href="{{elem.imdbu}}">{{elem.name}}&nbsp;</a></td>
            <td>{{ elem.director }}</td>
            <td align="center">
                <select [ngModel]="elem.status" (ngModelChange)="OnStatusChange(elem, $event)">
                    <option [ngValue]=0>Planned to watch</option>
                    <option [ngValue]=1>Watched</option>
                </select>
            </td>
            <td>{{ elem.score }}</td>
            <td>{{ elem.imdbr }}</td>
            <td>
            <td>
                <a [routerLink]="['/watchlist/edit/', elem.id]">Edit</a> |
                <a [routerLink]="" (click)="delete(elem.id)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>