
h1 {
    font-size: 2.0em;
    margin: 20px 0 0 0;
    font-weight: 400;
}

h3 {
    color: Black;
}

table {
    border-collapse: collapse;
    align-content: center;
}

table, th, td, tr {
    border: 1px solid whitesmoke;
    border-radius: 4px;
    margin: 10px;
    font-size: 17px;
    padding:0px 10px 0px 10px;
    text-align: center;
}
img{
    border-radius:4px;
    margin: 10px;
    display:block;
}

input {
    margin:10px;
    width: 225px;
    margin: 10px;
    background-color: #dfdfdf;
    font-size: 17px;
    border-radius:4px;
    border: 1px solid #dadada;
}

button {
    margin:10px;
    background-color: #008CBA;
    color: white;
    border:none;
}

.error {
    color: red;
    font-size: 20px;
}

.success {
    color: green;
    font-size: 20px;
}
