li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: black;
    color: white;
    border-bottom:5px solid whitesmoke;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    margin: 0px auto;
    z-index: 1;
}
.navbar {
    max-height: 60px;
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        margin:0px auto;
    }
    .navbar {
        border-radius: 0px;
        border-width: 0px;
        display: flex;
        justify-content: center;
    }
    .navbar-header {
        float: none;
    }
    .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .navbar ul {
        display: flex;
        justify-content: center;
    }
    .navbar li {
        font-size: 15px;
        margin: 6px;
    }
    .navbar li a {
        padding: 10px 16px;
    }
    .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
